#odpow {
    font-size: 48px;
    margin-top: 50px;
}
ol {
    font-size: 24px;
}

button {
    width: 200px;
    height: 60px;
    font-size: 30px;
}
.inline {
    display: flex;
}
h1 {
    font-weight: normal;
}